/* RESET / GERAL */

body, h1, h2, h3, h4, p, ul, li, a{
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: rgb(34, 32, 32);
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(34, 32, 32);
}

img {
    display: block;
    max-width: 100%;
}

* {
box-sizing: border-box;
}

/* HEADER */

header {
    font-family:  "Roboto Slab", Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(175, 175, 175);
    padding-bottom: 0;
}

.Logo {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.Logo h1 a {
    color:  rgb(68, 107, 81);;
}

.Menu ul li{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
}

.Menu ul li a {
    color:  rgb(68, 107, 81);
}

.Menu ul li a:hover {
    background-color: rgb(133, 125, 125);
}

/* BODY */

aside {
    display: flex;
    justify-content: center;
}

.slider{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.slider > div {
    padding: 10px 10px;
}

.slider h2{
    text-align: center;
}

.slider img{ 
    margin: 0 auto;
}

.noticias_secundarias {
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
}

.noticias_secundarias div {
    padding: 10px;
}

.noticias_secundarias h3 {
    text-align: center;

}
.noticias_secundarias img {
    margin: 0 auto;
}
.aorg {
    width: 300px;
    text-align: center;
 
}

/* FOOTER */

 footer {
    font-family: "Cormorant Unicase", Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 20px;
    background-color:  rgb(175, 175, 175);
    color: rgb(68, 107, 81);
 }

 footer a {
     color:  rgb(68, 107, 81);
 }
 table {
    border-collapse: collapse;
    width: 100%;
    display: flexbox;
    flex-direction: column;
    flex: 1;
  }
  
  th, td {
    text-align: left;
    padding: 5px;
  }
  
  th {
    background-color: rgb (175, 175, 175);
    color: rgb(68, 107, 81);
  }

  .rede_sociais {
      display: flex;
      justify-content: space-between;
      font-size:  30px;
  }


  /* MEDIA QUERY */
  
  @media screen and (min-width: 769px) {

    .Menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-grow: 1;
    }

  }