/* RESET / GERAL */

body, h1, h2, h3, h4, p, ul, li, a{
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #404040;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color:#404040;
}

img {
    display: block;
    max-width: 100%;
}

* {
box-sizing: border-box;
}

/* HEADER */

header {
    font-family:  "Roboto Slab", Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color:  #404040;
    padding-bottom: 0;
}

.Logo {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.Logo h1 a {
    color: #4BBF5C;
}

.Menu ul li{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
}

.Menu ul li a {
    color:  #4BBF5C;
}

.Menu ul li a:hover {
    background-color: #404040;
}

/* BODY */

aside {
    display: flex;
    justify-content: center;
}

.org1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.slider{
    height: 320px;
    width: 300px;
    text-align: center;
    padding: 5px;
}

.slider img{
    width: 300px;
    height: 200px;
}

.slider h3 {
    width:300px;
    height: 100px; 
}

.org2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.noticias_secundarias{
    height: 500px;
    width: 300px;
    text-align: center;
    padding: 5px;
}

.noticias_secundarias img{
    width: 300px;
    height: 200px;
}

.noticias_secundarias h3 {
    width: 300px;
    height: 100px;
}


/* FOOTER */

 footer {
    font-family: "Cormorant Unicase", Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 20px;
    background-color:  #404040;
    color:#4BBF5C;
 }

 footer a {
     color: #4BBF5C;
 }
 table {
    border-collapse: collapse;
    width: 100%;
    display: flexbox;
    flex-direction: column;
    flex: 1;
  }
  
  th, td {
    text-align: left;
    padding: 5px;
  }
  
  th {
    background-color: rgb (175, 175, 175);
    color: #4BBF5C;
  }

  .rede_sociais {
      display: flex;
      justify-content: space-between;
      font-size:  30px;
  }


  /* MEDIA QUERY */
  
  @media screen and (min-width: 769px) {

    .Menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-grow: 1;
    }

  }